{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock %} {% block body %}


<div class="example-wrapper">
    <h1>let's gow !</h1>
    <h2>
        <a href="{{ path('panier') }}">go!</a>
    </h2>
</div>
{% endblock %}